# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Pus Kampus\Semester 2\PBO\Tugas\Project\IntelliJ IDEA\modul6PBO\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
